.Metric {
	padding: 28px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100%;
}

.Metric__title {
	font-weight: 500;
	font-size: 11px;
	letter-spacing: 0.2em;
	color: #000000;
}

.Metric__negative .Metric__title {
	color: #a0a0a0;
}

.Metric__value {
	font-weight: 500;
	font-size: 30px;
	color: #3f4b5b;
}

.Metric__negative .Metric__value {
	color: #e45456;
}

.Metric__changing {
	position: absolute;
	top: 4px;
	right: 4px;
	font-style: normal;
	background-color: #2eb226;
	border-radius: 4px;
	color: #ffffff;
	padding: 4px;
	font-weight: 500;
	font-size: 11px;
	display: flex;
	align-items: center;
	grid-column-gap: 4px;
}

.Metric__negative .Metric__changing {
	background-color: #e45456;
}

@media (max-width: 1080px) {
	.Metric {
		padding: 24px 12px;
	}
	
	.Metric__title {
		font-size: 10px;
	}
	
	.Metric__value {
		font-size: 22px;
	}
	
	.Metric__changing {
		font-size: 10px;
	}
}

@media (max-width: 960px) {
	.Metric {
		padding: 28px 4px 4px 4px;
	}
	
	.Metric__title {
		font-size: 8px;
	}
	
	.Metric__value {
		font-size: 18px;
	}
	
	.Metric__changing {
		font-size: 10px;
		width: calc(100% - 8px);
		text-align: center;
		top: 4px;
		left: 4px;
		right: 4px;
		padding: 4px 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
