.Profile {
	position: relative;
	transform: translateX(0);
}

.Profile_active {
	transform: translateX(0);
}

.Profile__toggle {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	width: 70px;
	height: 70px;
	transform: translateX(-25px);
	border-radius: 50%;
	border: none;
	cursor: pointer;
	background-color: #ffffff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	transition: var(--main-transition);
	display: none;
}

.Profile__toggle:hover {
	box-shadow: none;
	transform: translateX(-30px);
}

.Profile_active .Profile__toggle {
	transform: translateX(100%);
}

.Profile__toggle svg {
	transform: translateX(-18px);
	font-size: 16px;
	color: #000000;
	transition: var(--main-transition);
}

.Profile__toggle:hover svg {
	transform: translateX(-15px);
}

.Profile__container {
	padding: 36px 18px;
	background-color: #293245;
	height: calc(100vh - 64.4px);
	overflow-y: scroll;
	position: relative;
	z-index: 1;
}

.Profile::-webkit-scrollbar {
	background-color: #293245 !important;
}

.Profile__title {
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.04em;
	color: #ffffff;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.Profile__title button {
	border: none;
	border-radius: 0;
	background-color: transparent;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	display: none;
}

@media (max-width: 1170px) {
	.Profile__container {
		padding: 16px 12px;
	}
	
	.Profile__title {
		font-size: 14px;
	}
}

@media (max-width: 960px) {
	.Profile__container {
		height: calc(100vh - 45px);
	}
}

@media (max-width: 720px) {
	.Profile {
		position: relative;
		transform: translateX(calc(100% + 1px));
	}
	
	.Profile_active {
		transform: translateX(0);
	}
	
	.Profile__toggle {
		display: inline-block;
	}
	
	.Profile__title button {
		display: flex;
	}
}
