.Form {
	display: grid;
	grid-row-gap: 16px;
	width: 100%;
}

.FormHeader h2 {
	padding: 0;
	margin: 0;
	font-size: 24px;
	font-weight: 400;
}

.Form__row:first-of-type {
	margin-top: 30px;
}

.Form__row {
	display: flex;
	grid-column-gap: 32px;
}

.Form__input > input, .Form__select > select {
	width: 100%;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #495057;
	background-color: #ffffff;
	border: 2px solid #dde2ec;
	border-radius: 4px;
	display: block;
	padding: 6px 12px;
	outline: none;
	transition: var(--main-transition);
}

.Form__input > input::placeholder, .Form__select > select::placeholder {
	opacity: 0.6;
}

.Form__input > input:focus, .Form__select > select:focus {
	border-color: #047bf8;
}

.Form__input_incorrect > input {
	border-color: #e45456;
	color: #e45456;
	background-color: rgba(228, 84, 86, 0.05);
}

.Form__input_incorrect > input:focus {
	color: #495057;
	background-color: #ffffff;
}

.Form__input, .Form__select {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
}

.Form__input span, .Form__select span {
	width: 100%;
	text-align: left;
	color: #3e4b6d;
	font-size: 14px;
	margin-bottom: 6px;
}

.Form__input > i {
	transition: var(--longer-transition);
	opacity: 0;
	height: 0;
	font-style: normal;
	font-size: 12px;
	margin-top: 2px;
	color: #e45456;
	line-height: 15px;
}

.Form__input_incorrect > i {
	opacity: 1;
	height: 15px;
}

.Form__button {
	margin: 0 0 0 auto;
	color: #ffffff;
	background-color: #047bf8;
	border: none;
	cursor: pointer;
	padding: 6px 12px;
	font-size: 14px;
	border-radius: 4px;
	transition: var(--main-transition);
}

.Form__button:hover {
	background-color: #0368d2;
}

@media (max-width: 640px) {
	.Form__row {
		grid-column-gap: 16px;
	}
}

@media (max-width: 560px) {
	.Form__row {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 16px;
	}
}
