.Main {
	padding-left: 112px;
	min-height: 100vh;
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
	overflow: hidden;
}

.Main__grid {
	display: grid;
	grid-template-columns: 10fr 3fr;
}

@media (max-height: 480px) {
	.Main {
		padding-left: 80px;
	}
}

@media (max-height: 440px) {
	.Main {
		padding-left: 60px;
	}
}

@media (max-width: 540px) {
	.Main {
		padding-left: 0;
	}
}
