.Main {
	padding-left: 112px;
	min-height: 100vh;
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
	overflow: hidden;
}

.Main__grid {
	display: grid;
	grid-template-columns: 10fr 3fr;
}

.Main__grid_one {
	grid-template-columns: 1fr 0;
}

.Main__elements {
	padding: 32px;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	grid-row-gap: 30px;
	height: calc(100vh - 64.4px);
}

@media (max-width: 1080px) {
	.Main__grid {
		grid-template-columns: 10fr 4fr;
	}
}

@media (max-width: 960px) {
	.Main__grid {
		grid-template-columns: 10fr 5fr;
	}
	
	.Main__grid_one {
		grid-template-columns: 1fr 0;
	}
	
	.Main__elements {
		height: calc(100vh - 45px);
	}
}

@media (max-width: 720px) {
	.Main__grid {
		grid-template-columns: 5fr 5fr;
	}
	
	.Main__grid_one {
		grid-template-columns: 1fr 0;
	}
}

@media (max-width: 480px) {
	.Main__grid {
		grid-template-columns: 2fr 5fr;
	}
	
	.Main__grid_one {
		grid-template-columns: 1fr 0;
	}
}

@media (max-height: 480px) {
	.Main {
		padding-left: 80px;
	}
}

@media (max-height: 440px) {
	.Main {
		padding-left: 60px;
	}
}

@media (max-width: 540px) {
	.Main {
		padding-left: 0;
	}
}
