.Logo {
	padding: 16px;
	border-bottom: 1px solid #f2f2f2;
	transition: var(--longer-transition);
}

.Logo_hover {
	padding-left: 32px;
}

.Logo__container {
	display: inline-grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	text-decoration: none;
}

.Logo__icon {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	transform: translateX(-4px);
}

.Logo__icon::before, .Logo__icon::after {
	content: '';
	display: block;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	position: relative;
	transition: var(--main-transition);
}

.Logo__icon::before {
	background-color: #1c80f3;
	right: -4px;
}

.Logo__icon::after {
	background-color: #c0d7f8;
	left: -4px;
}

.Logo__container:hover .Logo__icon::before {
	transform: translateX(5px);
}

.Logo__container:hover .Logo__icon::after {
	transform: translateX(-5px);
}

.Logo__label {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.17em;
	color: #000000;
	transition: var(--longer-transition), color var(--main-transition);
	white-space: nowrap;
	padding-left: 0;
	opacity: 0;
	z-index: -1;
	width: 0;
	overflow: hidden;
}

.Logo_hover .Logo__label {
	padding-left: 4px;
	opacity: 1;
	z-index: 0;
	width: 100%;
	overflow: visible;
}

.Logo__label::after {
	content: '';
	display: block;
	width: 0;
	height: calc(3px / 2);
	min-height: 1px;
	background-color: #1c80f3;
	position: relative;
	bottom: -2px;
	margin-bottom: -2px;
	transition: var(--main-transition);
}

.Logo__container:hover .Logo__label {
	color: #1c80f3;
}

.Logo__container:hover .Logo__label::after {
	width: 100%;
}

@media (max-width: 1280px) {
	.Logo__label {
		display: none;
	}
	
	.Logo {
		text-align: center;
	}
}

@media (max-width: 960px) {
	.Logo__icon {
		transform: translateX(0);
	}
	.Logo {
		padding: 12.5px 0;
		text-align: center;
	}
	
	.Logo__icon::before, .Logo__icon::after {
		width: 16px;
		height: 16px;
	}
	
	.Logo__icon::before {
		left: 4px;
	}
	
	.Logo__icon::after {
		left: -4px;
	}
}

@media (max-height: 640px) {
	.Logo__label {
		display: none;
	}
	
	.Logo_hover {
		padding-left: 16px;
	}
}

@media (max-height: 480px) {
	.Logo {
		padding: 16px 0;
		text-align: center;
	}
	
	.Logo__icon {
		transform: translateX(0);
	}
}
