.Navigation__label {
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.15em;
	color: #4890ec;
	margin-top: 28px;
	display: inline-block;
	margin-left: 32px;
	opacity: 0;
	height: 0;
	width: 0;
	z-index: -1;
	transition: var(--longer-transition);
}

.Navigation_hover .Navigation__label {
	opacity: 1;
	height: auto;
	width: auto;
	z-index: 0;
}

.Navigation__list {
	margin: 8px 0 0 0;
	padding: 0;
	list-style: none;
	transition: var(--longer-transition);
}

.Navigation__list li {
	position: relative;
}

.Navigation__list li:hover a .Navigation__item span img {
	filter: brightness(0) invert(100%);
}

.Navigation__list li:hover a .Navigation__item {
	color: #ffffff;
}

.Navigation__list li:hover a .Navigation__item {
	color: #ffffff;
	transform: translateX(4px);
}

.Navigation__list li:hover a .Navigation__item i {
	color: #ffffff;
}

.Navigation__list li a {
	text-decoration: none;
	transition: var(--longer-transition);
	padding: 0;
	display: block;
}

.Navigation_hover .Navigation__list li a {
	padding: 0 16px;
}

.Navigation__list li a .Navigation__item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
	font-size: 17px;
	color: #3f4b5b;
	text-decoration: none;
	position: relative;
	z-index: 1;
	transition: var(--longer-transition);
	white-space: nowrap;
	border-bottom: 1px solid #f2f2f2;
	padding: 16px 0;
}

.Navigation__list li a:hover {
	background-color: #4890ec;
}

.Navigation__list li a:hover .Navigation__item {
	border-bottom: 1px solid #4890ec;
}

.Navigation__list li a .Navigation__item span {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	grid-column-gap: 28px;
}

.Navigation__list li a .Navigation__item span i {
	color: inherit;
	font-size: inherit;
	font-style: inherit;
	width: 0;
	opacity: 0;
	overflow: hidden;
	transition: var(--longer-transition);
	z-index: -1;
}

.Navigation_hover .Navigation__list li a .Navigation__item span i {
	width: 100%;
	z-index: 0;
	opacity: 1;
}

.Navigation__list li a .Navigation__item span img {
	width: 24px;
	transition: var(--longer-transition);
	transform: translateX(calc(100% + 4px));
}

.Navigation_hover .Navigation__list li a .Navigation__item span img {
	transform: translateX(0);
}

.Navigation__list li a .Navigation__item i {
	color: #7f7f7f;
	font-size: 12px;
	transition: var(--longer-transition);
	width: 0;
	opacity: 0;
	overflow: hidden;
	z-index: -1;
}

.Navigation_hover .Navigation__list li a .Navigation__item i {
	width: auto;
	z-index: 0;
	opacity: 1;
}

@media (max-width: 1280px) {
	.Navigation__label {
		display: none;
	}
	
	.Navigation__list {
		margin-top: 0;
	}
}

@media (max-width: 1170px) {
	.Navigation__list > li > a .Navigation__item > i {
		display: none;
	}
	
	.Navigation__list li a .Navigation__item span {
		grid-column-gap: 12px;
	}
}

@media (max-height: 720px) {
	.Navigation__label {
		display: none;
	}
	
	.Navigation__list {
		margin-top: 0;
	}
}

@media (max-height: 640px) {
	.Navigation__list li {
		text-align: center;
		display: flex;
		justify-content: center;
		width: 100%;
	}
	
	.Navigation__list li a {
		width: 100%;
		text-align: center;
	}
	
	.Navigation__list li a .Navigation__item {
		padding: 14px 0;
		font-size: 14px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.Navigation_hover .Navigation__list li a .Navigation__item span i {
		display: none;
	}
	
	.Navigation__list li a .Navigation__item i {
		display: none;
	}
	
	.Navigation__list li a .Navigation__item span img {
		transform: translateX(0);
	}
}

@media (max-height: 560px) {
	.Navigation {
		margin-top: 28px;
	}
}

@media (max-height: 480px) {
	.Navigation__list li a .Navigation__item span img {
		width: 18px;
	}
}

@media (max-height: 440px) {
	.Navigation__list li a .Navigation__item {
		padding: 12px 0;
	}
	
	.Navigation__list li a .Navigation__item span img {
		width: 16px;
	}
	
	.Navigation {
		margin-top: 8px;
	}
}

@media (max-width: 960px) and (min-width: 540px) {
	.Navigation {
		margin-top: 8px;
	}
	
	.Navigation__list li {
		text-align: center;
		display: flex;
		justify-content: center;
	}
	
	.Navigation__list li a {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	
	.Navigation_hover .Navigation__list li a .Navigation__item span i {
		display: none;
	}
	
	.Navigation__list li a .Navigation__item i {
		display: none;
	}
	
	.Navigation__list li a .Navigation__item span img {
		transform: translateX(0);
	}
}

@media (max-width: 540px) {
	.Navigation__list li a .Navigation__item {
		padding: 14px 0;
		font-size: 14px;
	}
	
	.Navigation__list li a .Navigation__item span img {
		width: 18px;
	}
	
	.Navigation {
		margin-top: 8px;
	}
}
