.Navigation {
	padding: 0 16px;
}

.Navigation__label {
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.15em;
	color: #4890ec;
	margin-top: 28px;
	display: inline-block;
	margin-left: 16px;
	opacity: 0;
	height: 0;
	width: 0;
	z-index: -1;
	transition: var(--longer-transition);
}

.Navigation_hover .Navigation__label {
	opacity: 1;
	height: auto;
	width: auto;
	z-index: 0;
}

.Navigation__list {
	margin: 8px 0 0 0;
	padding: 0;
	list-style: none;
	transition: var(--longer-transition);
}

.Navigation__list li {
	border-bottom: 1px solid #f2f2f2;
	position: relative;
}

.Navigation__list li::after {
	content: '';
	display: block;
	width: calc(100% + 48px);
	height: 100%;
	background-color: transparent;
	position: absolute;
	inset: 0;
	z-index: 0;
	transform: translateX(-32px);
	transition: var(--longer-transition);
}

.Navigation__list li:hover::after {
	content: '';
	display: block;
	width: calc(100% + 48px);
	height: 100%;
	background-color: #4890ec;
	position: absolute;
	inset: 0;
	z-index: 0;
	transform: translateX(-32px);
}

.Navigation__list li:hover a span img {
	filter: brightness(0) invert(100%);
}

.Navigation__list li:hover a {
	color: #ffffff;
}

.Navigation__list li:hover a i {
	color: #ffffff;
	transform: translateX(4px);
}

.Navigation__list li a {
	padding: 16px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
	font-size: 17px;
	color: #3f4b5b;
	text-decoration: none;
	position: relative;
	z-index: 1;
	transition: var(--longer-transition);
	white-space: nowrap;
}

.Navigation__list li a span {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	grid-column-gap: 28px;
}

.Navigation__list li a span i {
	color: inherit;
	font-size: inherit;
	font-style: inherit;
	width: 0;
	opacity: 0;
	overflow: hidden;
	transition: var(--longer-transition);
	z-index: -1;
}

.Navigation_hover .Navigation__list li a span i {
	width: 100%;
	z-index: 0;
	opacity: 1;
}

.Navigation__list li a span img {
	width: 24px;
	transition: var(--longer-transition);
	transform: translateX(54%);
}

.Navigation_hover .Navigation__list li a span img {
	transform: translateX(0);
}

.Navigation__list li a i {
	color: #7f7f7f;
	font-size: 12px;
	transition: var(--longer-transition);
	width: 0;
	opacity: 0;
	overflow: hidden;
	z-index: -1;
}
.Navigation_hover .Navigation__list li a i {
	width: auto;
	z-index: 0;
	opacity: 1;
}

@media (max-height: 720px) {
	.Navigation__label {
		display: none;
	}
	
	.Navigation__list {
		margin-top: 0;
	}
}

@media (max-height: 640px) {
	.Navigation__list li {
		text-align: center;
		display: flex;
		justify-content: center;
	}
	
	.Navigation__list li a {
		padding: 14px 0;
		font-size: 14px;
	}
	
	.Navigation_hover .Navigation__list li a span i {
		display: none;
	}
	
	.Navigation__list li a i {
		display: none;
	}
	
	.Navigation__list li a span img {
		transform: translateX(0);
	}
}

@media (max-height: 560px) {
	.Navigation {
		margin-top: 28px;
	}
}

@media (max-height: 480px) {
	.Navigation__list li a span img {
		width: 18px;
	}
}

@media (max-height: 440px) {
	.Navigation__list li a {
		padding: 12px 0;
	}
	
	.Navigation__list li a span img {
		width: 16px;
	}
	
	.Navigation {
		margin-top: 8px;
	}
}
