.Statistic {
	display: grid;
	grid-template-columns: calc(25% - 10px) calc(75% - 10px);
	grid-column-gap: 20px;
}

.Statistic > div {
	display: grid;
	grid-template-rows: auto 1fr;
}

.Statistic__visualisation, .Statistic__table {
	padding: 20px 24px;
}

.Statistic__visualisation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Statistic__visualisation > img {
	width: 100%;
}

.Statistic__visualisation ul {
	margin: 16px 0 0 0;
	padding: 16px 0 0 0;
	list-style: none;
	border-top: 1px solid #e5e5e5;
	width: 100%;
}

.Statistic__visualisation ul li {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	grid-column-gap: 6px;
}

.Statistic__visualisation ul li > i {
	width: 10px;
	height: 10px;
	background-color: #74C02E;
	display: block;
	border-radius: 50%;
}

.Statistic__visualisation ul li > span {
	display: flex;
	flex-direction: column;
	font-weight: 500;
	font-size: 14px;
	color: #3F4B5B;
}

.Statistic__visualisation ul li > span > i {
	font-weight: 500;
	font-size: 12px;
	font-style: normal;
	color: #AEB3BF;
}

.Statistic__table {
	overflow-y: scroll;
	position: relative;
}

.Statistic__table table {
	width: 100%;
	border-collapse: collapse;
	min-width: 100%;
}

.Statistic__table table th, .Statistic__table table td {
	padding-right: 24px;
	white-space: nowrap;
}

.Statistic__table table th {
	font-weight: 500;
	font-size: 10px;
	color: #3e4b5b;
	text-align: left;
	border-bottom: 1px solid #999999;
	padding-bottom: 12px;
}

.Statistic__table table td {
	font-weight: 500;
	font-size: 13px;
	color: #3e4b5b;
	padding: 14px 0;
	border-bottom: 1px solid #f2f3f6;
}

.Statistic__table table td i {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: block;
	transform: translateX(150%);
}

.Statistic__table table tr:last-child td {
	border-bottom: none;
	padding-bottom: 0;
}

@media (max-width: 960px) {
	.Statistic {
		grid-template-columns: calc(35% - 5px) calc(65% - 5px);
		grid-column-gap: 10px;
	}
}

@media (max-width: 840px) {
	.Statistic {
		grid-template-columns: 100%;
		grid-gap: 8px;
	}
	
	.Statistic > div:first-child {
		display: none;
	}
}
