.Navbar {
	background: #ffffff;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
	height: 100%;
	width: 80px;
	transition: var(--longer-transition);
	position: absolute;
	z-index: 2;
}

.Navbar_hover {
	width: 20%;
}

@media (max-height: 640px) {
	.Navbar_hover {
		width: 80px;
	}
}

@media (max-height: 440px) {
	.Navbar, .Navbar_hover {
		width: 60px;
	}
}

@media (max-width: 960px) {
	.Navbar_hover {
		width: 80px;
	}
}

@media (max-width: 540px) {
	.Navbar {
		width: fit-content;
		opacity: 0;
		z-index: -1;
	}
	
	.Navbar_hover {
		width: fit-content;
		opacity: 1;
		z-index: 3;
		transition: opacity 0.2s linear 0s, z-index 0s linear 0s;
	}
}
