.Metrics__grid {
	display: grid;
	grid-template-columns: calc(25% - 10px) calc(25% - 20px) calc(25% - 20px) calc(25% - 10px);
	grid-gap: 20px;
}

.Metrics__add {
	padding: 12px;
	background-color: #e9ecf3;
	border: 1px dashed #adbfd9;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	grid-row-gap: 8px;
	cursor: pointer;
	transition: var(--main-transition);
}

.Metrics__add:hover {
	opacity: 0.8;
}

.Metrics__add i {
	background-color: #1477FB;
	width: 32px;
	height: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-style: normal;
	color: #ffffff;
	border-radius: 50%;
}

@media (max-width: 1080px) {
	.Metrics__add br {
		display: none;
	}
	
	.Metrics__add i {
		width: 24px;
		height: 24px;
	}
}

@media (max-width: 960px) {
	.Metrics__grid {
		display: grid;
		grid-template-columns: calc(25% - 5px) calc(25% - 10px) calc(25% - 10px) calc(25% - 5px);
		grid-column-gap: 10px;
	}
	
	.Metrics__add i {
		width: 20px;
		height: 20px;
	}
	
	.Metrics__add span {
		font-size: 12px;
	}
}

@media (max-width: 840px) {
	.Metrics__grid {
		grid-template-columns: calc(100% / 3 - 4px) calc(100% / 3 - 8px) calc(100% / 3 - 4px);
		grid-gap: 8px;
	}
}

@media (max-width: 480px) {
	.Metrics__grid {
		grid-template-columns: calc(50% - 4px) calc(50% - 4px);
	}
}

@media (max-width: 360px) {
	.Metrics__grid {
		grid-template-columns: 100%;
	}
}
